<div class="container content">
  <div class="row">
    <div class="git-commits col s12 m4 l3">
      <div class="card">
        <h5>Left sidebar</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen. Biodiesel heirloom migas umami cold-pressed</p>
      </div>
    </div>
    <div class="col s12 m8 l7">
      <div class="card">
        <img class="post_img" src="<%= @user.profile_picture %>" alt="">
        <h5>Hello, <%= @user.user_name %></h5>
      </div>
      <div class="card">
        <form action="/post_content" method="post">
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="textarea1" name="content" class="materialize-textarea" required></textarea>
              <label for="textarea1">Say something</label>
            </div>
            <div class="col s3 offset-s1">
              <button class="waves-effect waves-light btn" type="submit" name="button"><i class="fa fa-paper-plane fa-lg"></i>  Post</button>
            </div>
          </div>
        </form>
      </div>
      <% @posts.each do |post| %>
      <% post_user = User.find(post.user_id.to_i) %>
        <div class="card post">
          <a href="/users/<%= post_user.id %>"class="card-title"><img class="post_img" src="<%= post_user.profile_picture%>"><h4><%= post_user.user_name %></h4></a>
          <div class="card-content">
            <p><%= post.content %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col l2 hide-on-med-and-down">
      <div class="card online-users">
        <h6 class="center-align">Online users</h6>
        <% @online_users.each do |user| %>
        <a href="/users/<%= user.id %>"><i class="fa fa-user"></i><%= user.user_name %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>
