<div class="container content">
  <div class="col s8 l7">
    <ul class="collapsible" data-collapsible="accordion" id="create-message">
      <li>
        <div class="collapsible-header"><i class="material-icons prefix">input</i>New Message</div>
        <div class="collapsible-body">
            <form action="/post_content" method="post">
              <div class="row">
                <div class="input-field col s10 offset-s1">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="textarea1" name="content" class="materialize-textarea"></textarea>
                  <label for="textarea1">Say something</label>
                </div>
                <div class="col s3 offset-s1">
                  <button class="waves-effect waves-light btn" type="submit" name="button"><i class="fa fa-paper-plane fa-lg"></i>  Post</button>
                </div>
              </div>
            </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col m4 l3">
      <div class="card">
        <h5>Left sidebar</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen. Biodiesel heirloom migas umami cold-pressed</p>
      </div>
    </div>
    <div class="col m8 l7">
      <div class="card">
        <h5>Hello, <%= @user.user_name %></h5>
      </div>
      <div class="card">
        <h5>Posts</h5>
        <% @posts.each do |post| %>
        <% post_user = User.find(post.user_id.to_i) %>
          <p><%= post_user.user_name %>: <%= post.content %></p>
        <% end %>
      </div>
    </div>
    <div class="col l2 hide-on-med-and-down">
      <div class="card">
        <h5>Right sidebar</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast.</p>
      </div>
      <div class="card">
        <h5>Right sidebar</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast.</p>
      </div>
    </div>
  </div>
  <% if @users.any? %>
    <% @users.each do |user| %>
      <p><a href="/user/<%= user.id %>"><%= user.user_name %></a></p>
    <% end %>
  <% end %>
  <% if @user.followings.any? %>
    <% @user.followings.each do |following| %>
      <% user = User.find(following.following_id.to_i) %>
      <%= user.user_name %>
    <% end %>
  <% end %>
</div>
