<div class="container content">
  <div class="row">
    <div class="git-commits col m4 l3">
      <div class="card">
        <h5>Left sidebar</h5>
        <p>Occupy kitsch plaid cornhole tattooed sartorial four dollar toast pour-over. Irony tilde retro, messenger bag hammock gluten-free seitan +1 intelligentsia literally. Chicharrones ramps forage, vegan tousled wayfarers franzen. Biodiesel heirloom migas umami cold-pressed</p>
      </div>
    </div>
    <div class="col m8 l7">
      <div class="card">
        <h5>Hello, <%= @user.user_name %></h5>
      </div>
      <div class="card">
        <h5>Teams</h5>
        <% if @user.teams.exists? %>
          <% @user.teams.each do |team| %>
          <div class="col s12 m12">
            <h4 class="header"><%= team.name %></h4>
            <div class="card horizontal">
              <div class="card-image">
                <img class="card-image" src="<%= team.logo %>">
              </div>
              <div class="card-stacked">
                  <div class="card-content">
                    <p><%= team.team_info %></p>
                  </div>
                <div class="card-action">
                  <a href="/teams/<%= team.id %>">Go to page</a>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <p class="profile-head">You aren't yet apart of any teams, select teams to see what is available.</p>
        <% end %>
      </div>
    </div>
    <div class="online-users col l2 hide-on-med-and-down">
      <div class="card">
        <h6>Online users</h6>
        <% @online_users.each do |user| %>
          <i class="fa fa-user"></i><p><%= user.user_name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
