<div class="container">
    <form id="new-user" action="/users/<%= @user.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
      <div class="card">
        <div class="row">
          <div class="col s12 m12 l12">
            <span class="card-title account-info">Account Info</span>
          </div>
        </div>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="user_name" name="user_name" type="text" class="validate">
                    <label for="user_name"><%= @user.user_name %></label>
                  </div>
                </div>
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="email" name="email" type="text" class="validate">
                    <label class="active" for="email"><%= @user.email %></label>
                  </div>
                </div>
              </div>
              <span class="card-title">Location</span>
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="location" name="location" type="text" class="validate">
                    <label for="location">City</label>
                  </div>
                </div>
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="name" type="text" class="validate">
                    <label class="active" for="name">State</label>
                  </div>
                </div>
              </div>
              <span class="card-title">Work</span>
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="work" type="text" name="work" class="validate">
                  </div>
                </div>
              </div>
              <span class="card-title">Bio</span>
                <div class="row">
                  <div class="col s12 m6 l12">
                    <div class="input-field">
                      <textarea id="bio" name="bio" class="materialize-textarea" length="250"></textarea>
                      <label for="bio"><%= @user.bio %></label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="right">
              <div class="col s12 m6 l8">
                <img src="<%= @user.profile_picture %>" height="250">
                <span class="card-title">Profile Picture</span>
                <div class="input-field">
                  <input type="text" name="profile_picture">
                  <label for="logo_url">Enter Logo URL</label>
                  <a id="submit_logo" class="btn waves-effect waves-light" name="submit_logo">Upload Image</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
            <div class="row">
              <div class="input-field col s12 m6 l4">
                <span class="card-title">Programming Experience</span>
                  <select>
                    <option value="" disabled selected>Choose your developer level</option>
                    <option value="novice">Novice</option>
                    <option value="novice">Expert</option>
                    <option value="novice">Pro Master</option>
                  </select>
              </div>
            </div>
              <div class="input-field col s12 m6 l8">
                <span class="card-title languages">Choose languages</span>
                <div class="row">
                  <% @languages.each do |language| %>
                    <div class="col s2">
                      <div class="checkbox">
                          <input type="checkbox" name="languages[]" value="<%= language.id %>">
                          <label><%= language.icon() %></label>
                      </div>
                    </div>
                    <% end %>
                </div>
              </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <button class="btn btn-raised" type="submit" name="action">Create Profile</button>
                <br>
              </div>
            </div>
          </div>
        </form>
      </div>
