<div class="container">
    <form id="new-user" action="/users/<%= @user.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
      <div class="card">
        <div class="row">
          <div class="col s12 m12 l12">
            <span class="card-title account-info">Account Info</span>
          </div>
        </div>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input placeholder="<%= @user.user_name %>" id="user_name" name="user_name" type="text" class="validate" value="<% if !@user.nil? %><%= @user.user_name %><% end %>">
                    <label for="user_name">Username</label>
                  </div>
                </div>
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input placeholder="<%= @user.email %>" id="email" name="email" type="text" class="validate" value="<% if !@user.nil? %><%= @user.email %><% end %>">
                    <label class="active" for="email">Email</label>
                  </div>
                </div>
              </div>
              <span class="card-title">Location</span>
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="location" name="location" type="text" class="validate">
                    <label for="location">City</label>
                  </div>
                </div>
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input id="name" type="text" class="validate">
                    <label class="active" for="name">State</label>
                  </div>
                </div>
              </div>
              <span class="card-title">Work</span>
              <div class="row">
                <div class="col s12 m6 l6">
                  <div class="input-field">
                    <input placeholder="<%= @user.job_history %>" id="work" type="text" name="work" class="validate" value="<% if !@user.nil? %><%= @user.job_history %><% end %>">
                  </div>
                </div>
              </div>
              <span class="card-title">Bio</span>
                <div class="row">
                  <div class="col s12 m6 l12">
                    <div class="input-field">
                      <textarea placeholder="<%= @user.bio %>" id="bio" name="bio" class="materialize-textarea" length="250" value="<% if !@user.nil? %><%= @user.bio %><% end %>"></textarea>
                      <label for="bio">Bio</label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="right">
              <div class="col s12 m6 l6">
                <img src="<%= @user.profile_picture %>" height="250">
                <span class="card-title">Profile Picture</span>
                <div class="file-field input-field">
                  <div class="btn btn-raised">
                    <span>Upload Photo</span>
                    <div class="file-path-wrapper">
                      <input type="file" name="profile_picture" onchange="previewFile()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <div class="card">
            <div class="row">
              <div class="input-field col s12 m6 l4">
                <span class="card-title">Programming Experience</span>
                  <select>
                    <option value="" disabled selected>Choose your developer level</option>
                    <option value="novice">Novice</option>
                    <option value="novice">Expert</option>
                    <option value="novice">Pro Master</option>
                  </select>
              </div>
            </div>
            <div class="input-field col s12 m6 l8">
              <span class="card-title languages">Choose languages</span>
              <div class="row">

              <% @languages.each do |language| %>
                <div class="col s2">
                  <input type="checkbox" id="<%= language.id %>" name="languages[]" value="<%= language.id %>">
                  <label class="prog-icon" for="<%= language.id %>"><%= language.icon() %></label>
                </div>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col s12 m12 l12">
                <button class="btn btn-raised" type="submit" name="action">Update Profile</button>
                <br>
              </div>
            </div>
          </div>
        </form>
      </div>
