<div class="container">
  <div class="row">
    <div class="col m8 card">
      <h3>Browse teams</h3>
      <% @teams.each do |team| %>
      <ul>
        <li><img src="<%= team.logo %>" alt="Team Logo"><a href="/teams/<%= team.id %>"><%= team.name %></a></li>
      </ul>
    <% end %>
    </div>
    <div class="col m4 card">
      <h3>Your Teams</h3>
      <% @user.teams.each do |team| %>
        <ul>
          <li><img src="<%= team.logo %>" alt="Team Logo"><a href="/teams/<%=team.id %>"><%= team.name %></a></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
