<div class="container">
  <div class="row">
    <div class="col l6 card">
      <h2 class="profile-head">Browse teams</h2>
      <% if @teams.exists? %>
        <% @teams.each do |team| %>
        <div class="col s12 m12">
          <h4 class="header"><%= team.name %></h4>
          <div class="card horizontal">
            <div class="card-image">
              <img class="card-image" src="<%= team.logo %>">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                  <p><%= team.team_info %></p>
                </div>
              <div class="card-action">
                <a href="/teams/<%= team.id %>">Go to page</a>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <p>There arent any teams yet, <a href="/teams/new">why don't you create one?</a></p>
      <% end %>
    </div>
    <div class="col l5 offset-l1 card">
      <h2 class="profile-head">Your teams</h2>
      <% if @user.teams.exists? %>
        <% @user.teams.each do |team| %>
        <div class="col s12 m12">
          <h4 class="header"><%= team.name %></h4>
          <div class="card horizontal">
            <div class="card-image">
              <img class="card-image" src="<%= team.logo %>">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                  <p><%= team.team_info %></p>
                </div>
                <a class="card-action" href="/teams/<%= team.id %>">Go to page</a>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <p class="profile-head">You aren't yet apart of any teams, take a look at what's available.</p>
      <% end %>
    </div>
  </div>
</div>
